################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EZAccess.SourceGenerator/Class1.cs
